.myul{
    width: 20%;
    border: 2px solid darkgray;
    border-radius: 1rem;
    margin: 1rem;
.myli{
    background-color: burlywood;
    font-size: 1.5rem;
    color: #2196F3;
    width: 100%;
    border-radius: 0.5rem;
    .corss{
        color: tomato;
        float: right;
        background: brown;
        border-radius: 10px;
    }
}
}