<!--The content below is only a placeholder and can be replaced.-->
<div >
  <h1>
    Welcome to {{ title }}!
  </h1>

  <ul>
    <li>hii ths</li>
    <li *ngFor="let item of ShoppingItem$ |async" (click)="deleteItem(item._id)">
      {{item.title}}
    </li>
  </ul>
</div>
<div>
  <form (ngSubmit)="addItem()">
    <input type="text" [(ngModel)]="newShppingItem.title" placeholder="item " name="itemName"> 
    <button type="submit">+</button>
  </form>
</div>


<!-- <router-outlet></router-outlet> -->
